<div>
  <form enctype="multipart/form-data" class=" ui form" [formGroup]="Addcontactform" (ngSubmit)="onSubmit()" >
    <table  class="ui celled teal table" >
    <thead class="ui celled ">
    <th class="name">Name </th>
    <th class="address" >Address</th>
    <th class="phone max" >Phone</th>
    <th class="image" >Picture</th>
    <th class="actions">Actions</th>
    </thead>
      <tbody>
<tr>
    <td class="two fields">
      <div class="max" width="100">
      <input type="text"  placeholder="First Name" name="firstName" formControlName="firstName"/>
      </div>
      <div class="max"  width="100" >
      <input type="text" placeholder="Last Name" name="lastName" formControlName="lastName"/>
      </div>
    </td>
    <td class="field" width="600">
      <input type="text" placeholder="Address" name="address" formControlName="address"/>
    </td>
    <td class="pad" width="195">
      <div class="three fields max">
      <input type="text"  maxlength="5" placeholder="(###)" name="areaCode" formControlName="areaCode"/>
      <input type="text"  maxlength="4" placeholder="###" name="prefix" formControlName="prefix"/>
      <input type="text" maxlength="4" placeholder="###" name="lineNumber" formControlName="lineNumber"/>
      </div>
    </td>
    <td class="field max">
      <input type="file" placeholder="upload image"  formControlName="photoUrl"
             name="photoUrl" (change)="uploadFile($event)"/>
    </td>
  <td>
    <button type="submit" class="ui teal button" >Save</button>
  </td>
</tr>
      </tbody>
    </table>
  </form>
</div>

